div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    background-color: white;

}
/* Posicionamiento relativo -se posiciona en relacion al posicionamiento original */
.relative {
    position: relative;
    left: 80px;
    margin-left: 10px;
}

/*Posicionemiento fijo - Se posiciona en relacion a la pantalla*/

.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: greenyellow;
}
 /*Posicionamiento absoluto*/
 .absolute {
    position: absolute;
    top: 0px;


 }
 .relative.contenedor{
    width: 400px;
    height: 400px;
    background-color: blue;
 }
 /*Posicionamiento pegajoso - Al HACER SCROLL NOFICIA SU POSICIIONAMIENTO REALTIVE-FIXED*/
 
 .sticky{
    position: sticky;
    background-color: blueviolet;
    color: white;
    top: 0px;
    z-index: 2;
 }
 